body {
	background-image: url("/public/img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	backdrop-filter: brightness(60%);
	height: 100vh;
	font-family: "Inter", sans-serif;
}
